@tailwind base;
@tailwind components;
@tailwind utilities;

.title-header {
  background-color: #339af0;
}
.logo {
  margin: auto 2rem;
}
.group {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.custom-border {
  border: 1px solid; /* Default border width and style */
  border-top-width: 8px; /* Specific border width for the top side */
  border-color: #14b8a6; /* Teal color equivalent to Tailwind's teal-500 */
}
.btn-sign-1 {
  display: none;
}
.btn-sign {
  display: block;
}
.nav-coll {
  margin-right: 30px;
}
.btn-famoon {
  margin-right: 15px;
  width: 12px;
  height: 10px;
  border-radius: 10px;
}
@media (max-width: 1300px) {
  .icon-search {
    display: none;
  }
}
@media (max-width: 660px) {
  .serach-icon {
    display: none;
  }
  .icon-search {
    display: block;
  }
  .icon {
    font-size: 20px;
    color: #828385;
  }
  .btn-sign-1 {
    display: block;
  }
  .btn-sign {
    display: none;
  }
  .logo {
    margin: 1rem auto;
  }
}

/* signin */
.content-sign {
  min-height: 100vh;
  margin-top: 5rem;
  padding: 10px;
}
.content-sign .text {
  font-size: 2.25rem;
}
.content-sign p {
  font-size: 0.875rem;
  margin-top: 1.25rem;
}
.link-in {
  margin-top: 1.25rem;
}
